.viewer {
  max-width: 800px;
  height: 100vh;
  margin: 0 auto;
}

.tabList {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.tab {
  display: flex;
  padding: 4px 7px;
  border-radius: 6px 6px 0px 0px;
  background-color: aquamarine;
  cursor: pointer;
  &:not(:last-of-type) {
    margin-right: 10px;
  }
  &:hover {
    background-color: gray;
    transition: background-color 200ms ease-in-out;
  }
}

.active {
  @extend.tab;
  background-color: red;
}
